*{
    margin: 0;
    padding: 0;
}
.student_body1 {
    background-image: url("../img/addbook.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.list_body1 {
    background-image: url("../img/bookslist.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.h2{
    text-align: center;
    margin: 50px auto;
}
.list_body1 .list_div1{
    margin-top: 50px;
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    vertical-align:middle;
}
.list_div1 .card img{
    width: 286px;
    height: 350px;
}
.mentor2{
    position: absolute;
    left:418px;
    width: 286px;
    height: 350px;
}
.mentor2 img{
    width: 100%;
    height: 100%;
}
.mentor3{
    position: absolute;
    left: 792px;
    width: 286px;
    height: 350px;
}
.mentor3 img{
    width: 100%;
    height: 100%;
}
.mentor4{
    position: absolute;
    left: 1167px;
    width: 286px;
    height: 350px;
}
.mentor4 img{
    width: 100%;
    height: 100%;
}
